---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import FancyLink from "@components/FancyLink.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";
import ProjectGrid from "@components/ProjectGrid.astro";
import Text from "@components/Text.astro";
import Link from "@components/Link.astro";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => {
    // Handle "Current" end dates first
    if (a.data.dateEnd === "Current") return -1;
    if (b.data.dateEnd === "Current") return 1;

    // If neither is "Current", sort by start date (descending)
    return (
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
    );
  })
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="animate flex justify-start items-center gap-4">
      <div
        class="w-[4.5rem] h-[4.5rem] overflow-clip rounded-full dark:border dark:border-white/20 shadow"
      >
        <img
          src="https://avatars.githubusercontent.com/u/75865368?v=4"
          alt="photo of Alex Zahrai"
          class="w-full h-full object-cover object-center"
        />
      </div>
      <div class="flex flex-col gap-0">
        <Text tag="h1" variant="heading" class="text-indigo-600 dark:text-indigo-400">{SITE.NAME}</Text>
        <span class="text-slate-900/75 dark:text-white/75">{SITE.JOB_TITLE}</span>
        <!-- <RollingText items={["Developer", "Designer"]}> Web </RollingText> -->
      </div>
    </div>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <Text tag="p" variant="textBase" class="animate">{SITE.BIO}</Text>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <Text tag="h2" variant="heading" class="text-indigo-600 dark:text-indigo-400">Recent Projects</Text>
          <FancyLink href="/projects">view all projects</FancyLink>
        </div>
        <ProjectGrid projects={projects} animate={false} />
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <Text tag="h3" variant="heading" class="text-indigo-600 dark:text-indigo-400">Work Experience</Text>
          <FancyLink href="/work">view all work</FancyLink>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                {entry.data.company
                  ? <Link href={entry.data.URL} underline={false} classes="no-underline text-slate-900 dark:text-slate-50">
                    {entry.data.company}
                    </Link>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                  : <div class="text-slate-900 dark:text-slate-50">
                  {entry.data.role}
                </div>}
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <Text tag="h4" variant="heading" class="text-indigo-600 dark:text-indigo-400">Let's Talk!</Text>
        <article>
          <Text tag="p" variant="textBase">Feel free to reach out on socials or send me an email if you'd like to connect or just say hello!</Text>
        </article>
        <ul class="flex flex-wrap flex-col md:flex-row gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <FancyLink
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </FancyLink>
                <span class="hidden md:block">{"/"}</span>
              </li>
            ))
          }
          <li class="line-clamp-1">
            <FancyLink
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}>{SITE.EMAIL}</FancyLink
            >
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
