---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";
import ProjectGrid from "@components/ProjectGrid.astro";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <h1
        class="animate font-semibold text-indigo-600 dark:text-indigo-400 text-lg leading-5"
      >
        Projects
      </h1>
      <ProjectGrid projects={projects} animate={true} />
      <!-- <ul class="animate grid sm:grid-cols-2 gap-4">
        {
          projects.map((project) => (
            <li>
              <ProjectCard entry={project} />
            </li>
          ))
        }
      </ul> -->
      <!-- <div class="animate group flex justify-center gap-4 max-md:flex-col">
        {projects.map((project) => <ImageAccordionItem entry={project} />)}
      </div> -->
    </div>
  </Container>
</PageLayout>
